<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profielen</title>
    <link href="/styles /styles.css" rel="stylesheet">
</head>

<body   >
    <main class="profielen">
        <h1> Deze mensen zijn een match!</h1>
        
        <div class="caroussel">
           
                <ul>
                    
                <% profielen.forEach(function(profiel) { %>
                    <li>
                    <img src="/img /<%=profiel.url %>" alt="profielimg">
                    
                
                        <p><%= profiel.Name %></p>
                        <p><%= profiel.DOB%></p>
                        <p>Hobby: <%= profiel.Hobby %></p>
                        <p>Bestemming: <%= profiel.Bestemming %></p>
                        <p>Duur: <%= profiel.Duur %></p>
                        <p>Beschrijving: <%= profiel.Beschrijving %><p>
                    </li>
                        <% }) %>
                </ul>
            </div>

            <button id="prevBtn">prev</button>
            <button id="nextBtn">next</button>
            <!-- <ul  > 
                <% profielen.forEach(function(profiel) { %>
                <li >
                    <img src="/img /<%=profiel.url %>" alt="profielimg">
                    <a href="/chat"><img src="https://img.icons8.com/material-rounded/24/000000/chat--v1.png" /></a>


                    <p><%= profiel.Name %></p>
                    <p><%= profiel.DOB%></p>
                    <p>Hobby: <%= profiel.Hobby %></p>
                    <p>Bestemming: <%= profiel.Bestemming %></p>
                    <p>Duur: <%= profiel.Duur %></p>
                    <p>Beschrijving: <%= profiel.Beschrijving %><p>
                </li>
                    <% }) %>
                </ul>  -->

      
        
    </main>

    
    <script src="/script/api.js"></script>
</body>

</html>