<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profielen</title>
</head>
<body>
    <main>
        <h1> profielen</h1>
    
            <% profielen.forEach(function(profiel){ %>
            <section>
                <h2><%= profiel.naam %></h2>
                <h3><%= profiel.geboortedatum %></h3>
                <h3><%= profiel.hobbie %></h3>
                <h3><%= profiel.duur %></h3>
                <h3><%= profiel.beschrijving%></h3>
            </section>
            <% }) %>

    </main>
</body>
</html>