<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profielen</title>
    <link href="/styles /styles.css" rel="stylesheet">
</head>
<body>
    <main>
        <section class="caroussel" >
            <h1> Profielen </h1>

                <ul>
                    <% profielen.forEach(function(profiel){ %>
                    <li>
                        <img src="/img /<%=profiel.url %>" alt="profielimg">
                        <p><%= profiel.naam %></p>
                        <p><%= profiel.geboortedatum %></p>
                        <p><%= profiel.hobbie %></p>
                        <p><%= profiel.duur %></p>
                        <p><%= profiel.beschrijving%><p>
                    </li>
                <% }) %>
                </ul>
        </section>
    </main>
</body>
</html>